.summaryWrapper {
  background-color: --main-background-color;
  background-size: cover;
  background-position: 50% 10%;
  transition: all .5s;
  height: 200px;
  color: --main-font-color;
  position: relative;
}

.summaryWrapper .summary {
  height: 100%;
  position: relative;
  bottom: 70px;
}

.summaryWrapper .summary .container {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0
}

.summaryWrapper .summary .container h1 {
  margin: 0;
  text-shadow: 0 0 20px black;
  line-height: 1.2
}

.summaryWrapper .summary .container h1 .year {
  font-size: 25px;
  color: --secondary-font-color;
}

.summaryWrapper .summary .container h1 .certification {
  margin-left: 10px
}

.summaryWrapper .summary .container .certification {
  display: inline-block;
  border: solid 1px #fff;
  font-size: 12px;
  padding: 2px 4px 1px 4px;
  border-radius: 2px;
  vertical-align: middle;
  font-weight: 600;
  transition: all .5s;
  cursor: pointer
}

.summaryWrapper .summary .container .certification:hover {
  background-color: #fff;
  color: --main-font-color;
}

.infoWrapper {
  min-height: 100px;
}

.infoWrapperSidebarAffixableAffixBottom {
  position: relative !important;
  width: 173px;
  top: -104px;
}

.infoWrapper .sidebar .poster {
  border: solid 3px #fff !important;
  position: relative;
  -webkit-box-shadow: 0 0 20px 0px #666666;
  box-shadow: 0 0 20px 0px #666666
}

.infoWrapper .sidebar .poster img {
  width: 100%
}

.infoWrapper ul.additional-stats {
  list-style-type: none;
  padding: 0;
  margin: 0 0 20px 0
}

.infoWrapper ul.additional-stats li {
  display: inline-block;
  margin: 0 20px 2px 0
}

.infoWrapper ul.additional-stats li label {
  text-transform: uppercase;
  margin: 0 7px 0 0;
  font-weight: 600;
  color: --secondary-font-color;
}

.infoWrapper ul.additional-stats li a {
  text-decoration: none;
  transition: all .5s
}

.infoWrapper .info {
  margin: 20px 0
}

.infoWrapper .info #tagline {
  margin-bottom: 10px;
  font-style: italic;
}

.infoWrapper .info #overview {
  margin: 0 0 20px 0
}

.summaryRatingsWrapper {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: rgb(168, 25, 24);
}

.summaryRatingsWrapper .container {
  height: 60px;
  padding-top: 15px
}

.summaryRatingsWrapper ul {
  display: inline-block;
  list-style: none;
  margin: 0;
  padding: 0
}

.summaryRatingsWrapper ul.stats {
  margin-left: 30px
}

.summaryRatingsWrapper ul li {
  display: inline-block;
  margin: 0 30px 0 0;
  padding: 0;
  min-width: 0px;
  transition: all .6s
}

.summaryRatingsWrapper ul li:last-child {
  margin-right: 0
}

.summaryRatingsWrapper ul li .icon {
  float: left;
  font-size: 30px;
  vertical-align: top;
  text-shadow: 0 0 20px black;
  margin-right: 7px
}

.summaryRatingsWrapper ul li .icon.rating-8 {
  color: --main-font-color
}

.summaryRatingsWrapper ul li .number {
  float: left;
  line-height: 1;
  color: --main-font-color
}

.summaryRatingsWrapper ul li .number .rating {
  font-weight: 700;
  font-size: 18px
}

.summaryRatingsWrapper ul li .number .votes {
  font-size: 12px;
  color: --secondary-font-color
}
